<template>
  <div>
    <v-container>
      <v-row class="py-5 align-content-stretch">
        <v-col md="4">
          <v-card dark class="sticky-top position-sticky top-15">
            <v-card-title>
              Sélectionnez un niveau
            </v-card-title>
            <v-card-text>
              <v-list nav>
                <v-list-item-group v-model="level" color="primary">
                  <v-list-item link v-for="i in 5" @click="selected = i - 1" :key="i">
                    <v-list-item-title>
                      <span class="fz-18">{{ level_labels[i - 1] }}</span>
                    </v-list-item-title>
                    <v-list-item-icon>
                      <v-icon>mdi-arrow-right-circle</v-icon>
                    </v-list-item-icon>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col>
          <v-card light :loading="loading">
            <v-card-title>Filières du niveau&nbsp;<strong class="text-primary">{{ level_labels[selected] }}</strong>
            </v-card-title>
            <v-card-text>
              <transition name="fade" type="in-out">
                <v-row v-if="loading">
                  <v-col v-for="i in 3" :key="i">
                    <v-skeleton-loader type="card" loading/>
                  </v-col>
                </v-row>
                <v-row v-else>
                  <v-col>
                    <v-row v-if="hasClassrooms">
                      <v-col v-for="(item,index) in classrooms" md="4" :key="index">
                        <classroom-card :classroom="item"/>
                      </v-col>
                    </v-row>
                    <v-row v-else>
                      <v-col>
                        <v-alert type="info" outlined border="left" prominent>
                          Aucun enregistrement trouvé !
                        </v-alert>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </transition>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ClassroomCard from "~/components/cards/classroom-card";

export default {
  name: "index",
  components: {ClassroomCard},
  data: () => ({
    level: 1,
    level_labels: [
      "BTS 1",
      "BTS 2",
      "LICENCE",
      "MASTER 1",
      "MASTER 2",
    ],
    selected: 0,
    classrooms: [],
    loading: true
  }),
  computed: {
    hasClassrooms() {
      return this.classrooms.length > 0
    }
  },
  methods: {
    fetch() {
      this.loading = true
      this.$axios.get(`/classrooms?level=${this.level + 1}`)
        .then(({data}) => {
          this.classrooms = data
          this.loading = false
        })
        .catch((err) => {
          alert("Request failed.")
          console.error("Error : ", err)
          this.loading = false
        })
    },
  },
  mounted() {
    this.fetch()
  },
  watch: {
    level: function () {
      this.fetch()
    }
  }
}
</script>

<style scoped>

</style>
