<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <h1>Students List</h1>
        <div>
          <ul>
            <li v-for="student in students" :key="student.id">
              {{ student.id }}
              <br>
              {{ student.name }}
              <br>
              <router-link :to="`/dashboard/students/${student.id}`">View student</router-link>
            </li>
          </ul>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapGetters} from "vuex"
export default {
  name: "index",
  async asyncData({$axios}) {
    let {data} = await $axios.get(`/students`)
    const students = data

    return {students}
  },
  middleware: 'auth',
  computed: {
    ...mapGetters(['user'])
  },
  data() {
    return {
      students: []
    }
  },
  mounted() {
  }
}
</script>

<style scoped>

</style>
