<template>
  <v-col cols="12" xl="3" lg="4" md="6" sm="6" class="">
    <v-card class="rounded-1em" :to="target" :color="color" outlined elevation="0" dark :img="image">
      <v-card-title>
        <div class="d-flex justify-content-center align-items-center flex-column w-100">
          <v-icon size="5em">{{ icon || "mdi-school" }}</v-icon>
          <span>{{ title }}</span>
        </div>
      </v-card-title>
      <v-card-text>
        {{ description }}
      </v-card-text>
      <v-card-actions class="d-flex justify-content-end">
        <v-btn plain color="yellow">
          Aller
          <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script>
import student from "@img/jpg/portal-cards/student-card.jpeg"

export default {
  name: "card-item",
  props: {
    image: {type: Object | String, default: student},
    title: {type: String, required: true},
    icon: {type: String, default: "mdi-school"},
    color: {type: String, default: "green"},
    target: {type: String | Object, default: () =>  ({name: 'auth-login'})},
    description: {
      type: String,
      default: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eaque fuga illum odio soluta! Aliquam."
    },
  }
}
</script>

<style scoped lang="scss">
.v-card__title, .v-card__text, .v-card__actions {
  background: #000a;
}
</style>
