<template>
  <v-card hover link :to="{ name: 'registration-id-student-infos',params: {id: classroom.id}}">
    <v-card-title class="bg-success text-white">
      {{ classroom.option.short_name }} {{ classroom.level }}
    </v-card-title>
    <v-card-text class="py-2">
      <div class="fz-18">
        {{ classroom.option.name }}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "classroom-card",
  props: {
    classroom: {type: Object}
  }
}
</script>

<style scoped>

</style>
