@for $i from 0 to 10 {
  .transX-#{$i} {
    transform: translateX(0px + $i) !important;
  }
  .transY-#{$i} {
    transform: translateY(0px + $i) !important;
  }
  .transX-#{$i}em {
    transform: translateX(0em + $i) !important;
  }
  .transY-#{$i}em {
    transform: translateY(0em + $i) !important;
  }
  .transX--#{$i} {
    transform: translateX(0px - $i) !important;
  }
  .transY--#{$i} {
    transform: translateY(0px - $i) !important;
  }
  .transX--#{$i}em {
    transform: translateX(0em - $i) !important;
  }
  .transY--#{$i}em {
    transform: translateY(0em - $i) !important;
  }

  .rounded-#{$i}em {
    border-radius: (0em + $i) !important;
  }
  .rounded-top-#{$i}em {
    border-radius: (0em + $i) (0em + $i) 0 0 !important;
  }

  .mt--#{$i}em {
    margin-top: (0em - $i) !important;
  }

}

@for $i from 1 to 100 {
  .fz-#{$i} {
    font-size: (0px + $i) !important;
  }
  .top-#{$i} {
    top: (0px + $i) !important;
  }
}
