<template>
  <div>
    <v-container>
      <v-row class="py-5">
        <v-col lg="4">
          <v-card dark class="position-sticky sticky-top top-15" style="z-index: 1">
            <v-card-title>
              Information
            </v-card-title>
            <v-card-text class="py-3">
              Avant de valider votre inscription, rassurez-vous de vous être bien renseigné sur votre choix de filière,
              car la procédure de changement de filière pourrait ne pas aboutir pour des raisons administratives.
            </v-card-text>
          </v-card>
        </v-col>
        <v-col>
          <v-card :disabled="loading">
            <v-card-title class="bg-primary text-white">Formulaire d'inscription</v-card-title>
            <v-card-text class="py-3">
              <v-form @submit.prevent="submit" ref="form" class="formulaire py-5">
                <v-row>
                  <v-col>
                    <v-text-field disabled label="Niveau" :value="classroom.level"/>
                  </v-col>
                  <v-col>
                    <v-text-field disabled label="Filière" :value="`${classroom.option.short_name} - ${classroom.option.name}`"/>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field name="first_name" label="Votre prénom" :rules="[global_rules.required]" v-model="student.first_name"/>
                  </v-col>
                  <v-col>
                    <v-text-field name="name" label="Votre nom" :rules="[global_rules.required]" v-model="student.name"/>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <h4>Votre date de naissance</h4>
                    <v-row>
                      <v-col lg="2">
                        <v-select name="dd" v-model="date.jj" :rules="[global_rules.required]"
                                  :items="Array.from({length: 31}, (_, i) => `${i + 1}`)" label="Jour"></v-select>
                      </v-col>
                      <v-col lg="2">
                        <v-select name="mm" v-model="date.mm" :rules="[global_rules.required]" :items="$store.state.static.mois_fr"
                                  label="Mois"></v-select>
                      </v-col>
                      <v-col lg="2">
                        <v-select name="yyyy" v-model="date.aaaa" :rules="[global_rules.required]"
                                  :items="Array.from({length: 30}, (_, i) => `${((new Date()).getFullYear() - 15) - i}`)"
                                  label="Année"></v-select>
                      </v-col>
                      <v-col>
                        <v-text-field name="born_place" label="Lieu de naissance" :rules="[global_rules.required]"
                                      v-model="student.born_place"/>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <h4>Vos adresses</h4>
                    <v-row>
                      <v-col lg="6">
                        <v-text-field label="Pays de résidence" :rules="[global_rules.required]" v-model="student.country"/>
                      </v-col>
                      <v-col lg="6">
                        <v-select v-if="student.country && /camero[ou]n/.test(student.country.toString().toLowerCase())"
                                  label="Sélectionnez une région" v-model="student.city"
                                  :items="$store.state.static.regions_cm" :rules="[global_rules.required]"/>
                        <v-text-field v-model="student.city" v-else label="Région" :rules="[global_rules.required]"/>
                      </v-col>
                      <v-col lg="12">
                        <v-text-field :rules="[global_rules.required]" label="Adresse" hint="Quartier avec boite postale si possible"
                                      v-model="student.address"/>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field :rules="[global_rules.tel]" name="tel" v-model="student.tel" type="tel" label="Numéro de téléphone"
                      hint="Avec indicatif du pays"/>
                  </v-col>
                  <v-col>
                    <v-text-field :rules="[global_rules.email]" name="email" v-model="student.email" type="email" label="Adresse email"/>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn large class="w-100" type="submit" color="primary">
                      Confirmer mon inscription
                    </v-btn>
                  </v-col>
                  <v-col>
                    <v-btn large class="w-100" type="button" v-on:click="$router.back()" outlined color="primary">
                      Annuler mon inscription
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="loading" max-width="300" persistent>
      <v-card>
        <v-card-title class="text-center">Veuillez patienter...</v-card-title>
        <v-card-text>
          <div class="py-5 d-flex justify-content-center align-items-center">
            <v-progress-circular size="80" color="primary" indeterminate />
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="finished" max-width="700" persistent>
      <v-card>
        <v-card-title class="text-center">Inscription réussie...</v-card-title>
        <v-card-subtitle>
          Nous vous invitons à télécharger votre fiche d'inscription avant de quitter la page !
        </v-card-subtitle>
        <v-card-text>
          <div class="text-center d-flex justify-content-center align-items-center flex-column">
            <v-btn @click="download" rounded large color="primary">
              <v-icon>
                mdi-download
              </v-icon>
              Télécharger la fiche
            </v-btn>
          </div>
        </v-card-text>
        <v-card-actions class="d-xl-flex justify-content-end">
          <v-btn v-on:click="$router.push('/')" plain right :disabled="!downloaded">
            Quitter
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <iframe src="" class="d-none" id="print_frame"></iframe>
  </div>
</template>

<script>
export default {
  name: "student-infos",
  async asyncData({$axios, params}) {
    const {data: classroom} = await $axios.get(`/classrooms/${params.id}`)
    return {classroom}
  },
  data: () => ({
    loading: false,
    finished: false,
    downloaded: false,
    student: {
      first_name: null,
      name: null,
      country: null,
      city: null,
      address: null,
      born_date: null,
      born_place: null,
      email: null,
      tel: null,
    },
    date: {
      jj: null,
      mm: null,
      aaaa: null,
    },
    classroom: {},
    errors: [],
    student_id: null
  }),
  computed: {
    getDate() {
      let day = String(this.date.jj).padStart(2, '0')
      let month = this.$store.state.static.mois_fr.indexOf(this.date.mm) + 1
      month = String(month).padStart(2, '0')

      return `${this.date.aaaa}/${month}/${day}`
    }
  },
  methods: {
    submit() {
      this.errors = []
      if (! this.$refs.form.validate()) {
        return
      }

      this.loading = true
      const student = this.student
      setTimeout(() => {
        let student_data = Object.assign(student, {classroom_id: this.classroom.id, born_date: this.getDate})
        this.$axios.post('/students', student_data)
            .then((response) => {
              console.log(response)
              this.student_id = response.data.id
              this.finished = true
            })
            .catch((err) => {
              console.log(err.response.data)
            })
        .finally((response) => {
          this.loading = false
        })
      }, 2000)
    },
    download() {
      this.$axios.get(`/print/student/20`, {baseURL: process.env.ROOT_URL}).then((response) => {
      // this.$axios({url: `/print/student/${this.student_id}`, baseURL: process.env.ROOT_URL}).then((response) => {
        this.$el.querySelector("#print_frame").src = process.env.ROOT_URL + `/print/student/${this.student_id}`
        this.downloaded = true
      }).catch((e) => {
        alert('Unexpected error')
      })
    }
  }
}
</script>

<style scoped>

</style>
