<template>
  <v-row class="mt--6em rounded-top-6em justify-content-center">
    <v-col sm="8" md="6" lg="4">
      <v-card class="py-5 px-3 rounded-2em mb-5">
        <v-form v-on:submit.prevent="submitLogin()" ref="form" lazy-validation>
          <v-card-title>
            <h1 class="mb-4 text-center">Connexion</h1>
          </v-card-title>
          <v-card-subtitle>
            Fournissez les informations nécessaires à la connexion à votre compte.
          </v-card-subtitle>
          <v-card-text>
            <v-alert v-if="error" rounded type="error" outlined border="left">
              {{ error }}
            </v-alert>
            <v-text-field v-model="user.email" label="Email" type="email" :rules="[global_rules.required, global_rules.email]"></v-text-field>
            <v-text-field v-model="user.password" label="Mot de passe" type="password" class="mt-3" :rules="[global_rules.required]"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn type="submit" :loading="loading" class="w-100 bg-primary" color="primary" x-large>
              Se connecter
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {mapMutations} from "vuex"
export default {
  name: "login",
  layout: "portal",
  data: () => ({
    user: {
      email: 'admin@admin.com',
      password: 'password',
    },
    error: null,
    loading: false,
  }),
  methods: {
    ...mapMutations(['set_user']),
    submitLogin() {
      this.error = null
      if (! this.$refs.form.validate()) {
        return
      }

      this.$axios.get('/sanctum/csrf-cookie', {baseURL: process.env.ROOT_URL})
        .then(() => {
          this.loading = true
          this.$axios.post('/auth/login', this.user, {withCredentials: true})
            .then(({data}) => {
              // console.log(data)
              this.$cookies.set('token', data.token)
              this.$router.push('/dashboard')
            }).catch((error) => {
              this.error = error?.response?.data ?? 'Une erreur est survenue'
            }).finally(() => {
            this.loading = false
          })
        })
    }
  }
}
</script>

<style scoped>

</style>
