<template>
  <v-app id="app">
    <v-navigation-drawer app clipped dark v-model="drawer">
      <v-list dark>
        <v-list-item ripple
          v-for="item in items" :key="item.title" :to="getUrl(item.href)" exact link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar clipped-left app flat color="primary" elevation="10">
      <v-app-bar-nav-icon @click="drawer = !drawer" />
    </v-app-bar>

    <v-main>
      <Nuxt />
    </v-main>

    <v-footer app dark :fixed="false">
      <p class="m-0">&copy; Copyright, School Manager. </p>
    </v-footer>
  </v-app>
</template>

<style>

</style>
<script>
export default {
  data: () => ({
    items: [
      { title: 'Dashboard', icon: 'mdi-view-dashboard', href: '/dashboard' },
      { title: 'Etudiants', icon: 'mdi-school', href: '/dashboard/students' },
      { title: 'About', icon: 'mdi-help-box' },
    ],
    right: null,
    drawer: false,
  }),
  methods: {
    getUrl(href) {
      if (href) {
        return href
      }

      return '#'
    }
  },
  beforeCreate() {
    this.$store.dispatch('get_user')
  }
}
</script>
