<template>
  <div>
    <v-container tag="main" class="p-0" fluid>
      <v-row>
        <v-col>
          <v-row>
            <v-col>
              <div class="top-bar text-center">
                <h1>School manager</h1>
                <img src="@img/svg/logo.svg" alt="Logo">
              </div>
            </v-col>
          </v-row>
          <nuxt-child />
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid tag="footer">
      <v-row class="bg-dark">
        <v-col class="text-center text-white">
          <div>&copy; Faha Nembot & Fofou</div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "portal"
}
</script>

<style lang="scss">
.top-bar {
  padding:  1em 1em 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  color: #fff;
  background: linear-gradient(0deg, #02bdec, #0541aa);

  > img {
    height: 70px;
  }
}
</style>
