<template>
  <div>
    <v-row class="transY--4em p-5 justify-content-between bg-white rounded-top-6em">
      <card-item target="/registration" icon="mdi-account-plus" :image="RegisterImage" title="INSCRIPTION EN LIGNE" />
      <card-item title="ESPACE ETUDIANTS" />
    </v-row>
  </div>
</template>

<script>
import CardItem from "~/components/portal/card-item"
import RegisterImage from "@img/jpg/portal-cards/online-registration.jpg"

export default {
  layout: 'portal',
  components: { CardItem },
  data: () => ({
    RegisterImage
  }),
}
</script>

<style lang="scss">

</style>
