<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <h1>{{ $route.params.id }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapGetters} from "vuex"
export default {
  name: "index",
  middleware: 'auth',
  computed: {
    ...mapGetters(['user'])
  },
  mounted() {
    console.log(this.user)
  }
}
</script>

<style scoped>

</style>
